html, body, .container-fluid {
  height: 100%;
  background-color: #111;
}

html {
  /* This allows the window to be dragged when the hidden-inset option is used */
  -webkit-app-region: drag;
}

body {
  text-align: center;
  overflow: hidden;
}

div {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
  word-break: break-all;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
  word-break: break-all;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}